<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div>
        <h1 class="title align-center">Register Customer</h1>
    </div>
    <div class="content has-header">
        <div class="list" id="frmAddCustomer">
            
            <div class="item label-fixed">
                <label>Full Name<span style="color:red;">*</span></label>
                <input type="text" id="cname" name="cname" placeholder="Customer Full Name">
            </div>
            <div class="item label-fixed">
                <label>Short Name<span style="color:red;">*</span></label>
                <input type="text" id="csname" name="csname" placeholder="Customer Short Name">
            </div>
            <div class="item label-fixed">
                <label>Address<span style="color:red;">*</span></label>
                <input type="text" id="address" name="address" placeholder="Address">
            </div>
            <div class="item label-fixed">
                <label>Phone Number<span style="color:red;">*</span></label>
                <input type="number" id="telephone" name="telephone" placeholder="Phone Number">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="addCustomer()">Register</button>
            </div>
            
        </div>
    </div>
</div>