<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Assign Task</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmAssignTasks">
            
            <div class="item label-fixed">
                <label>User<span style="color:red;">*</span></label>
                <input type="text" id="user_option" name="user_option" placeholder="Select Specific User" onclick="openPage('searchUserOnly')">
                <input type="hidden" id="user_option_id" name="user_option_id">
            </div>
            <div class="item label-fixed">
                <label>Date<span style="color:red;">*</span></label>
                <input type="text" id="task_date" name="task_date" class="setdefdate" placeholder="Task Date" onclick="selectDate()" readonly>
            </div>
            <div class="item label-fixed">
                <label>Task<span style="color:red;">*</span></label>
                <textarea rows="4" id="task_info" name="task_info"></textarea>
            </div>
            
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button class="red radius full" onclick="assignTask()">Assign</button>
            </div>
            
        </div>
        <div class="item grey-200" style="padding-top:10px;padding-bottom:10px;">
          <h1 class="text-strong">Assigned Tasks</h1>
        </div>
        <div class="list white" style="height:40%;overflow-y: scroll;">
            <div class="item tleft"  data="tasksArray">
                <h2><i class="icon ion-ios-time-outline"></i>${task_date} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-small $$setTaskStatus{status} radius padding">$$setTaskStatusText{status}</span></h2>
                <p><i class="icon ion-person"></i>${username}</p>
                <p><i class="icon ion-clipboard"></i>${task_description}</p>
                <p class="text-grey"><i class="icon ion-chatbubbles blue"></i>${task_comments}</p>
                <div class="right">
                  <small class="text-grey" style="margin-right: 7px;">
                    
                  </small>
                  <button class="icon ion-edit blue" style="padding-right: 7px;padding-left: 7px;margin-right: 7px;$$setTaskStatusButton{status,${userid}}" onclick="openPage('action-task',{id:'${id}', task_date:'${task_date}', userid:'${userid}', username:'${username}', task_description:'${task_description}', task_comments:'${task_comments}'}, edtSelectesTask)">
                      
                  </button>
                </div>
                
            </div>

        </div>
        
    </div>
</div>