<div class="page grey-200">
  <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center"><span id="ptype">Cash</span> Payment</h1>
        <div class="right">
        <button class="icon ion-trash-a" onclick="clearCpayDataPos()"></button>
        </div>
  </div>
  <div class="content has-header">
    <div class="list white" id="formCashPayment">
          <div class="item label-fixed">
            <button class="red radius full" onclick="setCashValues()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <button id="poscashbtn" class="red radius full" onclick="posTransactionPayCashDone()">Submit</button>
          </div>
          <div class="item icon ion-person">
            <input type="text" id="cashcustomername"  name="cashcustomername" placeholder="Enter Customer Name">
          </div>
          <div class="item icon ion-cash">
            <input type="number" id="cashpayment" placeholder="Enter Amount..." onkeyup='autocashreceived()'>
            <input type="hidden" id="paytype" value="">
          </div>
          <div class="item icon ion-cash">
            <input type="text" id="pref" placeholder="Enter Cheque Number">
          </div>   
    </div>

    <div class="list grey-200">
        <div class="item tleft" style="padding:8px !important;">
          <h3 class="text-black text-strong" style="font-size:16px;">Total: </h3>
          <div class="right">
            <ul style="margin-right:20px;">
                <li class="text-black text-strong" style="font-size:16px;" id="cptotal">0</li>
            </ul>
          </div>
        </div>
        <div class="item tleft" style="padding:8px !important;">
          <h3 class="text-black text-strong" style="font-size:16px;">Paid: </h3>
          <div class="right">
            <ul style="margin-right:20px;">
                <li class="text-black text-strong" style="font-size:16px;" id="cppaid">0</li>
            </ul>
          </div>
        </div>
        <div class="item tleft" style="padding:8px !important;">
          <h3 class="text-black text-strong" style="font-size:16px;">Balance: </h3>
          <div class="right">
            <ul style="margin-right:20px;">
                <li class="text-black text-strong" style="font-size:16px;" id="cpbalance">0</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="list white">
      <div class="item" style="padding:8px !important;">
          <h3 class="text-black text-strong">PAYMENTS</h3>
          <button class="red radius full" onclick="openPage('payment')">Add Payment Modes</button>
      </div>
    </div>
    <div class="padding white" style="height:45%;overflow-y: scroll;">
      <div class="list grey-200">       
          <div class="item tleft" data="paymentTypesUsed">
            <h3 class="text-black" style="font-size:14px !important;">${Transtype}: ${TransID} </h3>
            <div class="right" style="margin-right: 0;">
              <ul style="margin-right:30px;">
                  <li class="text-black" style="font-size:14px !important;" >${TransAmount}</li>
              </ul>
              <button class="icon ion-ios-close-outline red" style="padding-right: 10px;padding-left: 10px;"  onclick="deleteCashTrans($$index)"></button>
            </div>
          </div>
      </div>

    </div>

  </div>
  
</div>