<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Stock Transfer Confirmation</h1>
        <div class="right">
            <button class="icon ion-trash-a" onclick="clearStoreValues()"></button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmStockTransfer">  
            <div class="item label-fixed">
                <label>Origin<span style="color:red;">*</span></label>
                <input type="text" id="origin" name="origin" placeholder="Select Origin Store" readonly>
                <input type="hidden" id="origincode" name="origincode">
            </div>
            <div class="item label-fixed">
                <label>Destination<span style="color:red;">*</span></label>
                <input type="text" id="destination" name="destination" placeholder="Select Destination Store" readonly>
                <input type="hidden" id="destinationcode" name="destinationcode">
            </div>    
            <div class="item label-fixed">
                <button class="red radius full" onclick="saveStoreTransferConfirm()">Confirm</button>
            </div>
            
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="storeItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option} : ${item_option_id}</h3>
              <p style="font-size:11px;">x ${quantity}</p>
              </div>
            </div>
        </div>
        
    </div>
   
</div>