<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Set Customer Location</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmCustomerLocationSetter">
            
             <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
            <div class="item label-fixed">
                <label>Latitude<span style="color:red;">*</span></label>
                <input type="text" id="lat" name="lat" placeholder="Latitude" readonly>
            </div>
            <div class="item label-fixed">
                <label>Longitude<span style="color:red;">*</span></label>
                <input type="text" id="lon" name="lon" placeholder="Longitude" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="red radius full" onclick="saveCustomerCurrentLocation()">Save</button>
            </div>
            
        </div>
        <div class="item" style="padding-top:10px;padding-bottom:10px;">
          <h1 class="text-strong">Customers Not Set</h1>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft"  data="notSetCustomersArray">
                <h2 class="text-strong">${br_name}</h2>
                
              </div>

        </div>
        
    </div>
</div>