<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Booking</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmMyBooking">
            <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
            <div class="item label-fixed">
                <label>Booking Date<span style="color:red;">*</span></label>
                <input type="text" id="booking_date" class="setdefdate" name="booking_date" onclick="selectBookingDate()">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="loadMyBookings()">Get</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="bookingItemClient" style="padding:8px !important;" onclick="openPage('booking',{customername:'${customername}', customerid:'${customerid}', payments: '$$escapePosVals{payments}', pitems: '$$escapePosVals{pitems}', ptotal: '${ptotal}', id: '${id}', ptype: '${ptype}'}, bookingDetailsc)">
                <h2><i class="icon ion-ios-time-outline"></i>&nbsp;&nbsp;${pdate}</h2>
                <p class="text-strong" style="font-size:11px;"><i class="icon ion-person-stalker"></i>&nbsp;&nbsp;${customername}</p>
             
                <div class="right">
                    <ul style="margin-right:20px;">
                        <li class="text-black text-strong" style="font-size:13px;">${ptotal}</li>
                    </ul>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </div>
        </div>
        
    </div>
   
</div>