<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Order Items</h1>
    </div>
    <div class="content has-header">

        <div class="list grey-200 " style="height:100%;overflow-y: scroll;">
            <div class="item tleft"  data="orderDetailsArray">
                <p><span class="text-strong">Stock Code:</span> ${stk_code}</p>
                <p><span class="text-strong">Name:</span> ${description}</p>
                <p><span class="text-strong">Unit Price:</span> ${unit_price}</p>
                <p><span class="text-strong">Quantity:</span> ${quantity}</p> 
                <p><span class="text-strong">Total:</span> ${total}</p> 
                <p><span class="text-strong">Deliverd:</span> ${qty_sent}</p> 
              </div>

        </div>
        
    </div>
</div>