<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="goToPrev()"></button>
        </div> 
        <h1 class="title align-center">Pairing Setting</h1>
        <div class="right">
            <button class="icon ion-android-refresh" onclick="getBlutoothPairedDevices()"></button>
        </div>
    </div>
    <div class="content has-header">
        
         <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="pairedBluetoothDevices" style="padding:8px !important;">
              <h3 style="font-size:13px;">${name}</h3>
              <p>${address} : ${status}</p>
              <div class="right">
                <button class="blue" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;$$checkPairedStatus{status}" onclick="setbldev($$index)">Set</button>
                <button class="green" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;$$checkUnPairedStatus{status}" onclick="removebldev($$index)">Ok</button>
              </div>
            </div>
        </div>
        <div id="resa"></div>
        <div id="resb"></div>
        <div id="resc"></div>
    </div>
   
</div>