<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">POS</h1>
        <div class="right">
            <button class="icon ion-ios-barcode-outline" onclick="initiatePosScanner()"></button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmPOS">     
            <div class="item label-fixed">
                <label>Item<span style="color:red;">*</span></label>
                <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="openPage('searchItem')">
                <input type="hidden" id="item_option_id" name="item_option_id">
                <input type="hidden" id="mode_prices" name="mode_prices" value="1">
                <input type="hidden" id="rate" name="rate">
            </div>
            <div class="item label-fixed">
                <label>Price<span style="color:red;">*</span></label>
                <input type="number" id="price" name="price" placeholder="Price" readonly>
            </div>
            <div class="item label-fixed">
                <label>Available Qty</label>
                <input type="number" id="quantityAval" name="quantityAval" placeholder="Available Quantity" readonly>
            </div>
            <div class="item label-fixed">
                <label>Quantity<span style="color:red;">*</span></label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" placeholder="Quantity">
            </div>
            <div class="item label-fixed">
                <label>Discount<span style="color:red;">*</span></label>
                <input type="number" id="discount" name="discount" value="0" onclick="getDiscountVal()" placeholder="Discount" readonly>
            </div>
            <div class="item label-fixed" >
                <label class="taxrow" >Tax<span style="color:red;">*</span></label>
                <input class="taxrow" type="number" id="tax" name="tax" value="0" placeholder="Tax Value" readonly>
            </div>
            <div class="item label-fixed" >
                <label class="taxrow" >Salesperson<span style="color:red;">*</span></label>
                <select name="fsalesp" id="fsalesp"></select>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="posTransaction()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="red radius full" onclick="posTransactionPay()">Pay</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200" id="frmPOSBarcodeScannerMain">
            <div class="item tleft" style="padding:8px !important;">
              <h3 class="text-black text-strong" style="font-size:16px;">Total: </h3>
              <div class="right">
                <ul style="margin-right:20px;">
                    <li class="text-black text-strong" style="font-size:16px;">
                        <input type="text" style="font-weight: bold;" name="scannerTotal" id="scannerTotal" value="0" class="align-right" readonly/>
                    </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="posItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option}</h3>
              <p style="font-size:11px;">${price} x ${quantity}</p>
              <div class="right">
                <ul style="margin-right:20px;">
                    <li class="text-black text-strong" style="font-size:13px;">${total}</li>
                </ul>
                <button class="icon ion-trash-b red" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="deletePosItems($$index)"></button>
                <button class="icon ion-edit blue" style="padding-right: 5px;padding-left: 5px;" onclick="editPosItems($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
   
</div>