<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">POS Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="pos" onclick="dashMenuClick('pos')">
            <i class="icon ion-ios-list-outline"></i></br></br>
             POS
          </div>
          <div class="col-34 grey-300 smalltxt" id="booking" onclick="dashMenuClick('booking')">
            <!--<i class="icon ion-android-cancel" style="position:absolute;top:30%;"></i>-->
            <i class="icon ion-card"></i></br></br>
            Booking
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="mybooking" onclick="dashMenuClick('mybooking')">
            <i class="icon ion-card"></i></br></br>
            My Bookings
          </div>
          <div class="col-34 grey-300 smalltxt" style="visibility: hidden;">
            <i class="icon ion-card"></i></br></br>
            Placeholder
          </div>
        </div>
        
        
    </div>
   
</div>