<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Reset Password</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmResetPassword">
            
            <div class="item label-fixed">
                <label>Username</label>
                <input type="text" id="rusername" name="rusername" readonly>

            </div>
            <div class="item label-fixed">
                <label>Old Password<span style="color:red;">*</span></label>
                <input type="password" id="rpassword" name="rpassword" placeholder="Enter Old Password">
            </div>
            <div class="item label-fixed">
                <label>New Password<span style="color:red;">*</span></label>
                <input type="password" id="npassword" name="npassword" placeholder="Enter New Password">
            </div>
            <div class="item label-fixed">
                <label>Confirm New Password<span style="color:red;">*</span></label>
                <input type="password" id="cnpassword" name="cnpassword" placeholder="Confirm New Password">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="resetPassword()">Reset</button>
            </div>
            
        </div>
        
    </div>
</div>