<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Sales Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="order-entry" onclick="dashMenuClick('order-entry')">
            <i class="icon ion-ios-list-outline"></i></br></br>
             Order Entry
          </div>
          <div class="col-34 grey-300 smalltxt" id="customer-payment" onclick="dashMenuClick('customer-payment')">
            <i class="icon ion-cash"></i></br></br>
            Customer Payment
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="sales-expenses" onclick="dashMenuClick('sales-expenses')">
            <i class="icon ion-pricetags"></i></br></br>
            Sales Expenses
          </div>
          <div class="col-34 grey-300 smalltxt" id="target" onclick="manageTargetsModule()">
            <i class="icon ion-connection-bars"></i></br></br>
            Target
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="customer-add" onclick="dashMenuClick('customer-add')">
            <i class="icon ion-person-add"></i></br></br>
            Customer Add
          </div>
          <div class="col-34 grey-300 smalltxt" id="sales-invoicing" onclick="dashMenuClick('sales-invoicing')">
            <i class="icon ion-connection-bars"></i></br></br>
            Sales Invoicing
          </div>
        </div>

        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="manage-orders" onclick="dashMenuClick('manage-orders')">
            <i class="icon ion-person-add"></i></br></br>
            Manage Orders
          </div>
          <div class="col-34 grey-300 smalltxt" id="direct-sales" onclick="dashMenuClick('direct-sales')">
            <i class="icon ion-connection-bars"></i></br></br>
            Direct Sales
          </div>
        </div>
        
        
    </div>
   
</div>