<!-- searchCustomerBranches.html -->
<div class="page grey-200">
    
    <div class="list white" id="formRouteSearch">
        <div class="item icon ion-search">
          <input type="text" id="rsearch" placeholder="Enter Route..." onkeyup='autochangedbroute()'>
        </div>
  </div>
  <div id="listRoutes" style="overflow-y:scroll;height:90%;">
    <div class="list" data="routeArraySearch">
      <div class="item" onclick="getRoute('${description}')">
        <h3>${description}</h3>
      </div>
    </div>
  </div>
</div>