<div class="page grey-200">
    
    <div class="list white" id="formSalesPersonSearch">
        <div class="item icon ion-search">
          <input type="text" id="salespersonsearch" placeholder="Enter Salesperson..." onkeyup='autochangedsalesperson()'>
        </div>
  </div>
  <div id="listSalesPerson" style="overflow-y:scroll;height:90%;">
    <div class="list" data="salespersonArraySearch">
      <div class="item" onclick="getSalesPerson('${id}','${user_id}')">
        <h3>${user_id}</h3>
      </div>
    </div>
  </div>
</div>