<div class="page grey-200">
    
    <div class="list white" id="formItemsSearch">
        <div class="item icon ion-search">
          <input type="text" id="itsearch" placeholder="Enter Item Name..." >
          <!--<input type="text" id="itsearch" placeholder="Item Search..." onkeyup='autochangedit()'>-->
        </div>
        <div class="item">
          <button id="sProduct" class="orange-900 radius full" onclick="productItemSearchAll()">Search</button>
        </div>
  </div>

  
    <div id="listItems" style="overflow-y:scroll;height:90%;">
      <div class="list" data="itemsArraySearchNew">
        <div class="item" onclick="getSelectedItem('${description}','${stock_id}','${rate}')">
          <h3>${description} : ${stock_id}</h3>
        </div>
      </div>
    </div>
</div>