<div class="page grey-200">
    
    <div class="list white" id="formCustomerSearch">
        <div class="item icon ion-search">
          <input type="text" id="cussearch" placeholder="Enter Customer Name...">
          <!--<input type="text" id="cussearch" placeholder="Enter Customer Name..." onkeyup='autochangedd()'> -->
        </div>
        <div class="item">
          <button id="sCustomer" class="orange-900 radius full" onclick="autochangeddNew()">Search</button>
        </div>
  </div>
  <div id="listProfileGitHub" style="overflow-y:scroll;height:90%;">
    <div class="list" data="customersArraySearch">
      <div class="item" onclick="getCustomerNew('${br_name}','${debtor_no}')">
        <h3>${br_name}</h3>
      </div>
    </div>
  </div>
</div>