<div class="page grey-200">
    
    <div class="list white" id="formUsersSearch">
        <div class="item icon ion-search">
          <input type="text" id="usersearch" placeholder="User Search..." onkeyup='autochangeduser()'>
        </div>
  </div>

  
    <div id="listUsers" style="overflow-y:scroll;height:90%;">
      <div class="list" data="usersArraySearch">
        <div class="item tleft" onclick="getUser('${uname}')">
          <h3>${uname}</h3>
        </div>
      </div>
    </div>
</div>