<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Add\Edit Route</h1>
        <div class="right">
            <button class="icon text-white" id="updateRouteBtn" style="display:none;font-size: 19px;" onclick="updateRoutes()">Update</button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmRoute">
            
            <div class="item label-fixed">
                <label>Route<span style="color:red;">*</span></label>
                <input type="text" id="route_option" name="route_option" placeholder="Select Route..." onclick="openPage('searchRoute')">
                <input type="hidden" id="route_option_id" name="route_option_id">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="addRoute()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="red radius full" id="starttrip" onclick="addRouteSave()">Start</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="routeItems" >
              <h3>${route_option}</h3>
              <div class="right">
                
                <button class="icon ion-trash-b red" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="deleteRouteItems($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
   
</div>