<div class="page padding grey-200">
  <div class="padding border-grey-400 shadow radius white">
      <button class="icon ion-ios-arrow-back white" style="position: absolute;top: auto;left: 15px;" onclick="backPage()"></button>
      <button class="icon ion-navicon-round white text-grey-400" style="visibility: hidden;"></button>
      <button class="icon ion-android-print white text-grey-400" style="font-size:40px;" onclick="reprintStockTakeReport()"></button>
      <div class="right">
        <button class="small white text-grey-400" id="cdtimepos"></button>
      </div>
  </div>
  <div class="space"></div>
  <div class="padding border-grey-400 shadow radius white">
      <h2 id="cname"></h2>
      <p>Date: <span id="stockTakeDate"></span></p>
  </div>
  <div class="space"></div>
  <div class="list shadow radius white">
      <div class="item tleft">
        <h2>ITEMS</h2>
      </div>
     
      <div class="item tleft grey-200" data="stockTakeReportItems" style="padding:8px !important;">
          <h3 style="font-size:13px;">${description}</h3>
          <p style="font-size:11px;">${stock_id}</p>
          <p style="font-size:11px;">x ${quantity_after}</p>
      </div>
  
  </div>
</div>