<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Stock Requisition</h1>
        <div class="right">
            <button class="icon ion-trash-a" onclick="clearStoreRequisitionValues()"></button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmStockRequisition">  
            <div class="item label-fixed">
                <label>Origin<span style="color:red;">*</span></label>
                <input type="text" id="origin" name="origin" placeholder="Select Origin Store" onclick="openPage('searchOriginStore')" readonly>
                <input type="hidden" id="origincode" name="origincode">
            </div>
            <div class="item label-fixed">
                <label>Destination<span style="color:red;">*</span></label>
                <input type="text" id="destination" name="destination" placeholder="Select Destination Store" onclick="openPage('searchDestinationStore')" readonly>
                <input type="hidden" id="destinationcode" name="destinationcode">
            </div>    
            <div class="item label-fixed">
                <label>Item<span style="color:red;">*</span></label>
                <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="openPage('searchItemsAll')">
                <input type="hidden" id="item_option_id" name="item_option_id">
                <input type="hidden" id="mode_prices" name="mode_prices" value="1">
                <input type="hidden" id="rate" name="rate">
            </div>
            <div class="item label-fixed">
                <label>Quantity<span style="color:red;">*</span></label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" placeholder="Quantity">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="addStoreRequisitionItem()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="red radius full" onclick="saveStoreRequisition()">Save</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="storeItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option} : ${item_option_id}</h3>
              <p style="font-size:11px;">x ${quantity}</p>
              <div class="right">
                <button class="icon ion-trash-b red" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="deleteStoreItems($$index)"></button>
                <button class="icon ion-edit blue" style="padding-right: 5px;padding-left: 5px;" onclick="editStoreItems($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
   
</div>