<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Sales Customer Visit</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmUpdateTargetCustomer">
            
            <div class="item label-fixed">

                <label>User<span style="color:red;">*</span></label>
                <input type="text" id="euser_option" name="euser_option" placeholder="Select Specific User" onclick="openPage('searchUserOnly')">
                <input type="hidden" id="euser_option_id" name="euser_option_id">
                <input type="hidden" id="etarget_id" name="etarget_id">
            </div>
            <div class="item label-fixed">
                <label>All Customers</label>
                <div class="right">
                  <input type="checkbox" id="eallcustomerchecker" class="switch green" onchange="onChangeAllCustomer()" checked>
                </div>
            </div>
            <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <input type="text" id="ecustomer_option" name="ecustomer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
            </div>
            <div class="item label-fixed">
                <label>Period</label>
                <select name="etarget_period" id="etarget_period">
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
            <div class="item label-fixed">
                <label>Comment</label>
                <textarea rows="4" id="etarget_comments" name="etarget_comments"></textarea>
            </div>
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button class="red radius full" onclick="updateTargetCusVisit()">Update Target</button>
            </div>
            
        </div>
        
    </div>
</div>