<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Advance Manufacture</h1>
    </div>
    <div class="content has-header">
         <div class="list grey-200 " style="height:98%;overflow-y: scroll;">
            <div class="item tleft"  data="advanceManufactureArray">
                <p>ID: ${id}</p>
                <p>Date: ${date_}</p>
                <p>Type: $$getManuType{type}</p>
                <p>Reference: ${wo_ref}</p>
                <p>Location: ${location_name}</p>
                <p>Quantity: ${units_reqd}</p>
                <p>Item: ${description}</p>
                <div class="row">
                  <div class="col">
                    <button class="blue" style="width: 90%;margin-right: 5px;" onclick="issueAdvManu($$index)">Issue</button>
                  </div>
                  <div class="col">
                    <button class="blue" style="width: 90%;margin-left: 5px;" onclick="produceAdvManu($$index)">Produce</button>
                  </div>
                </div>
              </div>

        </div>
        
    </div>
   
</div>