<div class="page grey-100">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Produce: <span id="woidh"></span></h1>
        <div class="right">
            <button class="icon ion-trash-a" onclick="clearAdvManuProValues()"></button>
        </div>
        
    </div>
    <div class="content has-header">

        <div class="list white" id="frmAdvManufactureProduceMain"> 
            <div class="item label-fixed">
                <label>Main Item<span style="color:red;">*</span></label>
                <input type="text" id="main_item" name="main_item" readonly>
            </div>
            <div class="item label-fixed">
                <label>Main Quantity<span style="color:red;">*</span></label>
                <input type="number" id="main_quantity" name="main_quantity" min="1" value="1" placeholder="Quantity">
            </div> 
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <h1 class="text-bold">Other End Products</h1>
        <div class="list white" id="frmAdvManufactureProduce"> 
            <div class="item label-fixed">
                <label>Item<span style="color:red;">*</span></label>
                <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="openPage('searchManufactureItems')" readonly>
                <input type="hidden" id="item_option_id" name="item_option_id">
                <input type="hidden" id="woidn" name="woidn">
                <input type="hidden" id="wodate" name="wodate">
                <input type="hidden" id="woref" name="woref">
                <input type="hidden" id="wodesc" name="wodesc">
                <input type="hidden" id="wotype" name="wotype">
                <input type="hidden" id="woloc" name="woloc">
                <input type="hidden" id="woqty" name="woqty">
            </div>
            <div class="item label-fixed">
                <label>Quantity<span style="color:red;">*</span></label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" placeholder="Quantity">
                <input type="hidden" id="woid" name="woid">
            </div>    
            <div class="item label-fixed">
                 <button class="red radius full" onclick="addAdvManuProduce()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="red radius full" onclick="confirmProductionData()">Save</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="advManuProdItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option} : ${item_option_id}</h3>
              <p style="font-size:11px;">x ${quantity}</p>
              <div class="right">
                <button class="icon ion-trash-b red" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="deleteAdvManufactureProduce($$index)"></button>
                <button class="icon ion-edit blue" style="padding-right: 5px;padding-left: 5px;" onclick="editAdvManufactureProduce($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
   
</div>