<div class="page">
	<div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <p >ENTER SITE</p>

    
  <div class="list no-border">
  	<div class="item icon ion-pound border-grey border-bottom">
    	<input id="setcomp" name="setcomp" type="text" placeholder="">
    </div>

    <div class="space"></div>
	<div class="space"></div>

	<div class="item">
	  <button class="border-red text-white red full" onclick="setCompany()">PROCEED</button>
	</div>
  </div>
	  
	    
  

</div>