<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Customer Payment</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmCustomerPayment">   
            <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <input type="text" class="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('searchCustomer')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
            <div class="item label-fixed">
                <label>Mode Of Payment<span style="color:red;">*</span></label>
                <select name="mode_payment" id="mode_payment" onchange="paymentModeChange()">
                    <option value="1">Mpesa</option>
                    <option value="2">Cheque</option>
                    <option value="3">Cash</option>
                    <option value="4">Direct Deposit</option>
                </select>
            </div>
            <div class="item label-fixed">
                <label>Amount<span style="color:red;">*</span></label>
                <input type="number" id="amount" name="amount" placeholder="Amount" value="0">
            </div>
            <div class="item label-fixed">
                <label>Reference<span style="color:red;">*</span></label>
                <input type="text" id="reference" name="reference" placeholder="Mpesa Transaction ID">
            </div>
            <div class="item label-fixed">
                <label>Payment Date<span style="color:red;">*</span></label>
                <input type="text" class="setdefdate" id="payment_date" name="payment_date" onclick="selectExpenseEntryDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="addCustomerPayment()">Save</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:42%;overflow-y: scroll;">
            <div class="item tleft"  data="customerPaymentArray">
                <p><span class="text-strong">Created On:</span> ${add_date}</p>
                <p><span class="text-strong">Payment Date:</span> ${payment_date}</p>
                <p><span class="text-strong">Customer:</span> ${customer_option}</p>
                <p><span class="text-strong">Payment Mode:</span> $$paymentMode{mode_payment}</p>
                <p><span class="text-strong">Amount:</span> ${amount}</p>
                <p><span class="text-strong">Reference:</span> ${reference}</p>

                <div class="right">
                  <button class="blue small radius" onclick="reprintCustomerPayment('${mode_payment}', '${id}', '${customer_option}', '${amount}', '${reference}')">Reprint</button>
                </div>
            </div>

        </div>
        
    </div>
</div>