<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Add Customer Notes</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmCustomerNotes">
            
             <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
            <div class="item label-fixed">
                <label>Notes<span style="color:red;">*</span></label>
                <textarea rows="4" id="notes" name="notes"></textarea>
            </div>
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button id="btnCustNotes" class="red radius full" onclick="saveCustomerNotes()">Save</button>
            </div>
            
        </div>
        <div class="item grey-200" style="padding-top:10px;padding-bottom:10px;">
          <h1 class="text-strong">My Customer Notes</h1>
        </div>
        <div class="list white" style="height:50%;overflow-y: scroll;">
            <div class="item tleft"  data="customersNotesArray">
                <h2><i class="icon ion-ios-time-outline"></i>${trans_time}</h2>
                <p><i class="icon ion-person-stalker"></i>${br_name}</p>
                <p><i class="icon ion-clipboard"></i>${notes}</p>
                <p class="text-grey"><i class="icon ion-ios-location-outline red"></i>${address}</p>
                
              </div>

        </div>
        
    </div>
</div>