<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Manufacturing Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="manufacture" onclick="openPage('manufacture', {}, openManufacture)">
            <i class="icon ion-card"></i></br></br>
            Packaging
          </div>
          <div class="col-34 grey-300 smalltxt" id="advance-manufacture" onclick="openPage('advance-manufacture', {}, openAdvanceManufacture)">
            <i class="icon ion-card"></i></br></br>
            Work Order
          </div>
        </div> 
        
        
    </div>
   
</div>