<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Mode of Payment</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('mpesa-sdk')">
            <i class="icon ion-iphone"></i></br></br>
             Mpesa SDK
          </div>
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('mpesa-paybill')">
            <i class="icon ion-clipboard"></i></br></br>
            Mpesa Paybill
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('visa')">
            <i class="icon ion-card"></i></br></br>
            Visa
          </div>
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('cash')">
            <i class="icon ion-cash"></i></br></br>
            Cash
          </div>
        </div>

        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('credit-note')">
            <i class="icon ion-card"></i></br></br>
            Credit Note
          </div>
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('ezzypay')">
            <i class="icon ion-cash"></i></br></br>
            Ezzypay
          </div>
        </div>

        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('cheque')">
            <i class="icon ion-card"></i></br></br>
            Cheque
          </div>
          <div class="col-34 grey-300 smalltxt" style="visibility: hidden;" onclick="dashMenuClick('ezzypay')">
            <i class="icon ion-cash"></i></br></br>
            Ezzypay
          </div>
        </div>
        
        
    </div>
   
</div>