<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Reports Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="orderStatus" onclick="dashMenuClick('orderStatus')">
            <i class="icon ion-ios-list-outline"></i></br></br>
             Order Status
          </div>
          <div class="col-34 grey-300 smalltxt" id="tripsModule" onclick="dashMenuClick('tripsModule')">
            <i class="icon ion-compose"></i></br></br>
            Trips
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="posTransactions" onclick="openPage('posTransactions')">
            <i class="icon ion-card"></i></br></br>
            POS Transactions
          </div>
          <div class="col-34 grey-300 smalltxt" id="reportFilter" onclick="openPage('reportFilter')">
            <i class="icon ion-document"></i></br></br>
            Report Filter
          </div>
        </div> 
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="taskReport" onclick="openPage('taskReport')">
            <i class="icon ion-card"></i></br></br>
            Task Report
          </div>
          <div class="col-34 grey-300 smalltxt" id="targetReport" onclick="openPage('targetReport')">
            <i class="icon ion-document"></i></br></br>
            Target Report
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="salesExpensesReport" onclick="openPage('salesExpensesReport')">
            <i class="icon ion-card"></i></br></br>
            Sales Expenses
          </div>
          <div class="col-34 grey-300 smalltxt" id="customerPaymentReport" onclick="openPage('customerPaymentReport')">
            <i class="icon ion-document"></i></br></br>
            Customer Payment
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="bookingsReport" onclick="openPage('bookingsReport')">
            <i class="icon ion-card"></i></br></br>
            Bookings Report
          </div>
          <div class="col-34 grey-300 smalltxt" id="userStoreBalance" onclick="openPage('userStoreBalance',{}, getUserStoreBalance)">
            <i class="icon ion-document"></i></br></br>
            User Store Balance
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="workorderReport" onclick="openPage('workorderReport',{}, setDefaultReportDates)">
            <i class="icon ion-card"></i></br></br>
            Work Order Report
          </div>
          <div class="col-34 grey-300 smalltxt" id="workorderProductionReport" onclick="openPage('workorderProductionReport',{}, setDefaultReportDates)">
            <i class="icon ion-document"></i></br></br>
            Production Report
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="stockTakeReport" onclick="openPage('stockTakeReport',{}, setDefaultReportDates)">
            <i class="icon ion-card"></i></br></br>
            Stock Take Report
          </div>
          <div class="col-34 grey-300 smalltxt" style="visibility: hidden;">
            <i class="icon ion-document"></i></br></br>
            Production Report
          </div>
        </div>
        
    </div>
   
</div>