<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Sales Target</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmSetTarget">
            
            <div class="item label-fixed">
                <label>User<span style="color:red;">*</span></label>
                <input type="text" id="user_option" name="user_option" placeholder="Select Specific User" onclick="openPage('salesUsersSerch')">
                <input type="hidden" id="user_option_id" name="user_option_id">
            </div>
            <div class="item label-fixed">
                <label>Category</label>
                <select name="target_category" id="target_category">
                </select>
            </div>
            <div class="item label-fixed">
                <label>Quantity (Kg)</label>
                <input type="number" id="target_qty" name="target_qty" placeholder="Quantity (Kg)">
                
            </div>
            <div class="item label-fixed">
                <label>Period</label>
                <select name="target_period" id="target_period">
                    <option value="Monthly">Monthly</option>
                </select>
            </div>
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button class="red radius full" onclick="setTarget()">Set Target</button>
            </div>
            
        </div>
        <div class="item grey-200" style="padding-top:10px;padding-bottom:10px;">
          <h1 class="text-strong">Targets</h1>
        </div>
        <div class="list white" style="height:45%;overflow-y: scroll;">
            <div class="item tleft"  data="targetArray"> <!-- $$timeSince{target_date} -->
                <h2><i class="icon ion-ios-time-outline"></i>${target_date} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-small $$setTaskStatus{status} radius padding">$$setTaskStatusText{status}</span></h2>
                <p><i class="icon ion-person"></i>${username}</p>
                <p><i class="icon ion-cube"></i>${target_description}</p>
                <p><i class="icon ion-ios-pricetags-outline"></i>${target_qty}</p>
                <p class="text-grey"><i class="icon ion-chatbubbles blue"></i>${target_comments}</p>
                <div class="right">
                  <small class="text-grey" style="margin-right: 7px;">
                    
                  </small>
                  <button class="icon ion-edit blue" style="padding-right: 7px;padding-left: 7px;margin-right: 7px;$$setTaskStatusButton{status,${createdby}}" onclick="openPage('action-target',{id:'${id}', target_qty:'${target_qty}', target_item:'${target_item}', target_date:'${target_date}', userid:'${userid}', createdby:'${createdby}', username:'${username}', target_description:'${target_description}', target_comments:'${target_comments}'}, edtSelectesTarget)">
                      
                  </button>
                </div>
                
            </div>

        </div>
        
    </div>
</div>