<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Sales Expenses</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmSalesExpenses">
            
            <div class="item label-fixed">
                <label>Description<span style="color:red;">*</span></label>
                <input type="text" id="description" name="description" placeholder="Expense Description">
            </div>
            <div class="item label-fixed">
                <label>Amount<span style="color:red;">*</span></label>
                <input type="number" id="amount" name="amount" placeholder="Amount">
            </div>
            <div class="item label-fixed">
                <label>Mode Of Payment<span style="color:red;">*</span></label>
                <select name="mode_payment" id="mode_payment">
                    <option value="1">Mpesa</option>
                    <option value="2">Cheque</option>
                    <option value="3">Cash</option>
                    <option value="4">Direct Deposit</option>
                </select>
            </div>
            <div class="item label-fixed">
                <label>Expense Date<span style="color:red;">*</span></label>
                <input type="text" class="setdefdate" id="payment_date" name="payment_date" onclick="selectExpenseEntryDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="addSalesExpenses()">Save</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:42%;overflow-y: scroll;">
            <div class="item tleft"  data="salesExpensesArray">
                <p><span class="text-strong">Created On:</span> ${add_date}</p>
                <p><span class="text-strong">Payment Date:</span> ${payment_date}</p>
                <p><span class="text-strong">Description:</span> ${description}</p>
                <p><span class="text-strong">Payment Mode:</span> ${mode_payment}</p>
                <p><span class="text-strong">Amount:</span> ${amount}</p>
            </div>

        </div>
        
    </div>
</div>