<!-- searchCustomerBranches.html -->
<div class="page grey-200">
    
    <div class="list white" id="formCustomerBranchSearch">
        <div class="item icon ion-search">
          <input type="text" id="cusbrsearch" placeholder="Enter Branch..." onkeyup='autochangedbrcus()'>
        </div>
  </div>
  <div class="hidden" id="listCusBranch" style="overflow-y:scroll;height:90%;">
    <div class="list" data="branchcusArraySearch">
      <div class="item" onclick="getCusBranch('${br_name}')">
        <h3>${br_name}</h3>
      </div>
    </div>
  </div>
</div>