<div class="page grey-200">
    
    <div class="list white" id="formOriginStoreSearch">
        <div class="item icon ion-search">
          <input type="text" id="itsearch" placeholder="Select Origin Store..." >
          <!--<input type="text" id="itsearch" placeholder="Item Search..." onkeyup='autochangedit()'>-->
        </div>
        <!-- <div class="item">
          <button id="originstorebtn" class="orange-900 radius full" onclick="originStoreSearch()">Search</button> 
        </div> -->
  </div>

  
    <div id="listItems" style="overflow-y:scroll;height:90%;">
      <div class="list" data="originStoreArray">
        <div class="item" onclick="getSelectedStore('${loc_name}','${loc_code}','o')">
          <h3>${loc_name} : ${loc_code}</h3>
        </div>
      </div>
    </div>
</div>