<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">User Store Ballance</h1>
    </div>

    <div class="content has-header">

        <div class="space"></div>
        <p class="text-black">Store: <span id="storeName"></span></p>

        <div class="list grey-200 " style="height:90%;overflow-y: scroll;">
            <div class="item tleft"  data="userStoreBalanceArray">
                <p><span class="text-strong">Item ID:</span> ${stock_id}</p>
                <p><span class="text-strong">Item:</span> ${item}</p>
                <p><span class="text-strong">Balance:</span> ${balance}</p> 
            </div>

        </div>
        
    </div>
</div>