<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Order Entry</h1>
       
        <div class="right">
            <button class="icon ion-ios-refresh-empty" onclick="refreshAddOrder()"></button>
            <button class="icon ion-trash-a" onclick="clearOrderEntryData()"></button>
        </div> 
    </div>
    <div class="content has-header">
        <div class="col padding">
            <h1 class="text-big text-light">Credit Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="icon ion-ios-barcode-outline" onclick="initiateOrderScanner()"></button></h1>
            <p class="text-big green" id="cdtval">0</p>
        </div>

        <div class="list" id="frmAddOrder">
            
             <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" class="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('searchCustomer')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
             <div class="item label-fixed">
                <label>Branch<span style="color:red;">*</span></label>
                <!-- <input type="text" id="branch_option" name="branch_option" placeholder="Select Branch" onclick="alertBranchForm()"> -->
                <input type="text" id="branch_option" name="branch_option" placeholder="Select Branch" onclick="openPage('searchBranch')">
                <input type="hidden" id="branch_option_id" name="branch_option_id">
            </div>
            <div class="item label-fixed">
                <label>Mode Of Pricing<span style="color:red;">*</span></label>
                <select name="mode_prices" id="mode_prices" onchange="changingModeOfPayment()">
                </select>
            </div>
            <div class="item label-fixed">
                <label>Item<span style="color:red;">*</span></label>
                <!-- <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="alertItemsForm()"> -->
                <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="openPage('searchItem')">
                <input type="hidden" id="item_option_id" name="item_option_id">
                <input type="hidden" id="price" name="price">
                <input type="hidden" id="rate" name="rate">
            </div>
            <div class="item label-fixed">
                <label>Quantity<span style="color:red;">*</span></label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" placeholder="Quantity">
            </div>
            <div class="item label-fixed">
                <label>Due Date<span style="color:red;">*</span></label>
                <input type="text" class="setdefdate" id="due_date" name="due_date" min="2020-01-31" onclick="addOrderDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="addOrderItem()">Add Item</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="red radius full" onclick="addOrder()">Save</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="orderItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option}</h3>
              <p style="font-size:11px;">${price} x ${quantity}</p>
              <div class="right">
                <ul style="margin-right:20px;">
                    <li class="text-black text-strong" style="font-size:13px;">${total}</li>
                </ul>
                <button class="icon ion-trash-b red" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="deleteOrderItems($$index)"></button>
                <button class="icon ion-edit blue" style="padding-right: 5px;padding-left: 5px;" onclick="editOrderItems($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
</div>