<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Inventory Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="stock-transfer" onclick="openPage('stock-transfer', {}, openStockTransfer)">
            <i class="icon ion-card"></i></br></br>
            Direct Stock Transfer
          </div>
          <div class="col-34 grey-300 smalltxt" id="stock-requisition" onclick="openPage('stock-requisition', {}, openStockTransfer)">
            <i class="icon ion-card"></i></br></br>
            Stock Requisition
          </div>
        </div>

        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="stock-approval" onclick="openPage('stock-approval', {}, openStockApproval)">
            <i class="icon ion-card"></i></br></br>
            Requisition Approval
          </div>
          <div class="col-34 grey-300 smalltxt" id="stock-issue" onclick="openPage('stock-issue', {}, openStockIssue)">
            <i class="icon ion-card"></i></br></br>
            Requisition Issue
          </div>
        </div> 

        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="stock-take" onclick="openPage('stock-take', {}, openStockTake)">
            <i class="icon ion-card"></i></br></br>
            Stock Take
          </div>
          <div class="col-34 grey-300 smalltxt" style="visibility: hidden;">
            <i class="icon ion-card"></i></br></br>
            Requisition Issue
          </div>
        </div>
        
        
    </div>
   
</div>