<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Manufacture</h1>
        <div class="right">
            <button class="icon ion-trash-a" onclick="clearManufactureValues()"></button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmManufacture"> 
            <div class="item icon ion-android-lock border-grey border-bottom">
                <select name="mtype" id="mtype" placeholder="Select Manufacture Type">
                  <option value="0">Assemble</option>
                  <option value="1">Unassemble</option>
                  <!--<option value="2">Advanced Manufacture</option>-->
                </select>
            
            </div> 
            <div class="item label-fixed">
                <label>Item<span style="color:red;">*</span></label>
                <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="openPage('searchManufactureItems')" readonly>
                <input type="hidden" id="item_option_id" name="item_option_id">
            </div>
            <div class="item label-fixed">
                <label>Quantity<span style="color:red;">*</span></label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" placeholder="Quantity">
            </div>
            <div class="item label-fixed">
                <label>Destination<span style="color:red;">*</span></label>
                <input type="text" id="destination" name="destination" placeholder="Select Destination Store" onclick="openPage('searchDestinationStore')" readonly>
                <input type="hidden" id="destinationcode" name="destinationcode">
            </div>    
            
            <div class="item label-fixed">
              <button class="red radius full" onclick="saveManufactureData()">Save</button>
            </div>
            
        </div>
        
    </div>
   
</div>