<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">My Dairy Collections</h1>
        <div class="right">
            
        </div>
    </div>
    <div class="content has-header">
        <!-- 
supplier_id: supplier_id,
          supplier_name: supplier_name,
          route_id: route_id,
          route_name: route_name,
          shift: shift,
          total: total,
          ord_date: ord_date,
          username: grader_username

        -->
          <div class="row align-center" style="height:15%;">
              <div class="col padding light-blue">
                  <h1 class="text-big text-strong" id="totLitres">12</h1>
                  <p>Litres</p>
              </div>
              <div class="col padding pink-400">
                  <h1 class="text-big text-strong" id="totEntries">32</h1>
                  <p>Entries</p>
              </div>
          </div>

          <div class="list white" style="height:85%;overflow-y: scroll;">
            <div class="item tleft"  data="dairyCollectedGrader">
              <h2><i class="icon ion-ios-time-outline"></i>${ord_date}</h2>
              <p><i class="icon ion-person-stalker"></i>${supplier_name}</p>
              <p><i class="icon ion-arrow-expand"></i>${route_name}</p>
              <p><i class="icon ion-clock"></i>${shift}</p>
              <p><i class="icon ion-ios-list-outline"></i>${total}</p>
              <div class="right">
                <button class="blue radius" onclick="rePrintDairyCollectionReceipt($$index)">RePrint Receipt</button>
              </div>
            </div>

        </div>
    </div>
   
</div>