<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">On Map</h1>
        <div class="right">
        <button class="icon ion-ios-refresh-empty" onclick="loadUsers()"></button>
        </div> 
    </div>
    <div class="content has-header">

        <div class="list white" id="frmOnMap">

            <div class="item">
                <h2>Show All Users</h2>
                <div class="right">
                  <input type="checkbox" id="alluserschecker" class="switch green" onchange="onchangeUserMap()" checked>
                </div>
            </div>
            
            <div class="item label-fixed">
                <label>User</label>
                <input type="text" id="user_option" name="user_option" placeholder="Select Specific User" onclick="openPage('searchUser')">
                <input type="hidden" id="user_option_id" name="user_option_id">
            </div>
            <div class="item label-fixed">
                 <button class="red radius full" onclick="getOnMapUsers()">View</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " id="onmapid" style="height:60%;">
            

        </div>
        
    </div>
   
</div>