<div class="page grey-200">
  <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">POS Transactions</h1>
        <div class="right">
            <button class="icon ion-ios-refresh-empty" onclick="loadPOSTransaction()"></button>
        </div>
    </div>
  <div class="content has-header">

    <div class="list white" id="formPosTransactionsSearch">
        <!--<div class="item icon ion-search">
          <input type="date" id="postranssearch" placeholder="POS Transaction Search..." >
        </div> -->
        <div class="item label-fixed">
            <label>Date<span style="color:red;">*</span></label>
            <input type="text" class="setdefdate" id="postrans_date" name="postrans_date"  onclick="selectPosTransDate()" readonly>
        </div>
    </div>

    <!-- data="posTransactionsArraySearch" -->
    <div id="listPosTransactions" style="overflow-y:scroll;height:90%;">
      <div class="list padding grey-100">

        <!--<div class="item tleft white mark border-green margin-button shadow" onclick="getPosTranaction('${uname}')">
            <p class="text-black text-strong">#POS0000000001</p>
            <h2><strong>Jared O. Momanyi</strong></h2>
            <p class="text-grey">5 minutes ago</p>
            <p class="text-green">paul</p>
            <div class="right align-right">
              1850 <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>-->

        <div class="item tleft white mark border-green margin-button shadow" data="posTransactionsArraySearch" onclick="openPage('posTransactionDetails',{id:'${id}', ptotal:'${ptotal}', payments: '$$escapePosVals{payments}', pitems: '$$escapePosVals{pitems}', cp:'${cp}', uname:'${uname}', uid:'${uid}', pdate:'${pdate}', print:'${print}', customername:'${customername}'}, posTransactionDetailsc)">
            <p class="text-black text-strong">$$setPosTransNumber{id}</p>
            <h2><strong>${customername}</strong></h2>
            <p class="text-grey">${pdate}</p>
            <p class="text-green">${uname}</p>
            <div class="right align-right">
              ${ptotal} <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>


      </div>
    </div>
  </div>
</div>