<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Trips</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmTrips">    
            <div class="item label-fixed">
                <button class="red radius full" onclick="posTransaction()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="red radius full" onclick="posTransactionPay()">Pay</button>
            </div>
            
        </div>
        
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="tripList" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option}</h3>
              <p style="font-size:11px;">${price} x ${quantity}</p>
              <div class="right">
                <ul style="margin-right:20px;">
                    <li class="text-black text-strong" style="font-size:13px;">${total}</li>
                </ul>
                <button class="icon ion-trash-b red" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="deletePosItems($$index)"></button>
                <button class="icon ion-edit blue" style="padding-right: 5px;padding-left: 5px;" onclick="editPosItems($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
   
</div>