<div class="page grey-200">
    
    <div class="list white" id="formmanuItemsSearch">
        <div class="item icon ion-search">
          <input type="text" id="manitsearch" placeholder="Select Item..." >
          <!--<input type="text" id="itsearch" placeholder="Item Search..." onkeyup='autochangedit()'>-->
        </div>
        <div class="item">
          <button id="sManufacture" class="orange-900 radius full" onclick="manufactureItemSearch()">Search</button>
        </div>
  </div>

    <div id="listItems" style="overflow-y:scroll;height:90%;">
      <div class="list" data="manufactureItemsArraySearch">
        <div class="item" onclick="getSelectedManufactureItem('${description}','${stock_id}')">
          <h3>${description} : ${stock_id}</h3>
        </div>
      </div>
    </div>
</div>