<div class="page grey-200">
    
    <div class="list white" id="formFarmerSearch">
        <div class="item icon ion-search">
          <input type="text" id="frsearch" placeholder="Enter Farmer Name..." >
          <!--<input type="text" id="itsearch" placeholder="Item Search..." onkeyup='autochangedit()'> productItemSearch -->
        </div>
        <div class="item">
          <button id="sFarmer" class="orange-900 radius full" onclick="productFarmerSearch()">Search</button>
        </div>
  </div>

  
    <div id="listFarmers" style="overflow-y:scroll;height:90%;">
      <div class="list" data="farmerArraySearch">
        <div class="item" onclick="getSelectedFarmer('${member_no}','${supp_name}','${contact}','${supplier_id}')">
          <h3>${supp_name}</h3>
        </div>
      </div>
    </div>
</div>