<div class="page grey-200">
    
    <div class="list white" id="formDestinationStoreSearch">
        <div class="item icon ion-search">
          <input type="text" id="itsearch" placeholder="Select Destination Store..." >
          <!--<input type="text" id="itsearch" placeholder="Item Search..." onkeyup='autochangedit()'>-->
        </div>
        <!-- <div class="item">
          <button id="destinationstorebtn" class="orange-900 radius full" onclick="destinationStoreSearch()">Search</button> 
        </div> -->
  </div>

  
    <div id="listItems" style="overflow-y:scroll;height:90%;">
      <div class="list" data="destinationStoreArray">
        <div class="item" onclick="getSelectedStore('${location_name}','${loc_code}','d')">
          <h3>${location_name} : ${loc_code}</h3>
        </div>
      </div>
    </div>
</div>